{block adminContent}
<style>
    .datagrid {
        font-size: small;
        button {
            font-size: 50%;
        }
    }
</style>

{control pagesDatagrid}

{/block}

{block scripts}
{/block}