
{block adminContent}
<div class="container">
    <div class="row">
{control speciesForm}
    </div>
    <hr>
    <div class="row">
{control speciesDatagrid}
    </div>
</div>
{/block}

{block scripts}
{/block}