{templateType App\Presenters\Templates\SuperAdmin\Layout}
{block superAdminContent}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <div class="alert alert-info">
            <i class="bi bi-tools me-2"></i>Tato sekce je ve výstavbě.
        </div>
    </div>
</div>
{/block}
{block scripts}{/block}
