{block superAdminContent}
{control setAzylForm}

<hr>
<a n:href="SuperAdmin:azylslugs" class="btn btn-outline-secondary btn-sm mt-2">
    Správa URL slugů azylů
</a>
{/block}

{block scripts}
{/block}