# Zkopírujte jako fio.neon a vyplňte FIO API tokeny.
# NIKDY nekomitujte fio.neon do repozitáře!

parameters:
    fio:
        token: FIO_API_TOKEN_1
        token2: FIO_API_TOKEN_2
        account: 'CISLO_UCTU'
        bankId: '2010'
        iban: CZ00000000000000000000
